.our-team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.socisl-list-link {
    @extend %align;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color var(--transition-duration) var(--transition-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.socisl-list-icone {
    transition: fill var(--transition-duration) var(--transition-function);
    fill: #AFB1B8;

    .socisl-list-link:hover &,
    .socisl-list-link:focus & {
        fill: #FFFFFF;
    }
}
.team-list-title {
    display: flex;
    flex-basis: calc((100% - 90px) / 4);
}

.team-list {
    box-shadow: 0px 1px 3px rgb(0 0 0 / 0.12),
        0px 1px 1px rgb(0 0 0 / 0.14),
        0px 2px 1px rgb(0 0 0 / 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-text-color-theme-dark);
}

.name {
    @include font(16px, 500, 19px);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.person {
    padding-top: 30px;
    padding-bottom: 30px;
}

.job-title {
    @include font(16px, 400, 19px);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;

    color: var(--secondary-text-colour);
}

.team {
    background-color: #F5F4FA;
}